.input-password {
  position: relative;

  .icon {
    background: transparent;
    border: none;
    bottom: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;

    svg {
      height: $icon-size;
      width: $icon-size;
    }
  }
}
