// Colors
$color-black-100: #4b6477b0;
$color-black-200: #000;
$color-blue-100: #1f485b;
$color-blue-200: #1a4a60cc;
$color-grey-100: #f3f3f3;
$color-grey-200: #cdcaca;
$color-grey-300: #bebcbc;
$color-white-100: #fff;

$color-bg-sign-up: $color-blue-200;
$color-btn: $color-blue-100;
$color-btn-font: $color-white-100;
$color-btn-icon: $color-grey-100;
$color-btn-icon-font: $color-black-200;
$color-on-btn-icon: $color-grey-200;
$color-link: $color-blue-200;
$color-on-link: $color-blue-200;

// Others
$breakpoint-medium: 992px;
$breakpoint-large: 1200px;
$breakpoint-vw: 1440px;
$breakpoint-vh: 750px;
$icon-size: 18px;
$radius-button: 5px;
$radius-container: 31px;
